@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.5px!important;
background-color:  rgb(11 14 12)!important;
}

code {
    font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.5px!important;
}