.singleCard {
    width: 250px;
    background: rgb(255 255 255 / 10%);
    /* box-shadow: 0 5px 24px 2px rgb(31 135 119 / 37%); */
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 20px;
    margin-left: 45px;
}

.c-name {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    line-height: 28px;
    /* text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; */
    text-transform: uppercase;
    padding-bottom: 10px;
}

.c-tkn {
    font-size: 18px;
    font-weight: 400;
    color: #dee2e6c7;
    /* padding-top: 5px; */
   
}

.c-price {
    font-size: 16px;
    font-weight: 400;
    color: #dee2e6c7;
    /* padding-top: 10px; */
}

.c-percentage {
    font-size: 16px;
    font-weight: 400;

}
.c-Coinname{
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    line-height: 28px;
    padding-top: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.red{
    color: red;
    font-weight: 600;
}
.green{
    color: green;
    font-weight: 600;

}