
.headbar {
  height: 50px;
  width: 100%;
  position: absolute ;
  top: 0px;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
  z-index: 9;
}
.hide {
  top: -64px;
}
.show {
  top: 0px;
  position: fixed;
  /* left: -19px; */

}
.n-wrapper {
  height: 6vh;
  display: flex;
  justify-content: space-between;
  width: 98%;
  top: 0;
  background: rgb(255 255 255 / 10%);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(4px);
  padding: 10px 30px;
}
.nav-sticky-cont {
    position: sticky;
    position: -webkit-sticky;
    top: 0;

    z-index: 10000;
}
ul li {
  font-size: 16px;
}
.n-left {
  flex: 1;
  align-items: center;
  justify-content: left;
  display: flex;
  gap: 2rem;
}
.button-green {
  background: #3fa45a;
  border-radius: 4px;
  border: none;
  color: white;
  font-size: 16px;
  padding: 10px 24px 10px 24px;
  /* box-shadow: rgb(62 115 98 / 65%) 2px 4px 15px; */

}
.n-name {
  font-size: 1.3rem;
  font-weight: bold;
}

.n-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 400;
}

.n-list {
  /* flex: 10; */
  display: flex;
  align-items: center;
}
.logo-img{
  width: 120px;
  margin-left: 20px;
}
.n-list>ul {
  display: flex;
  gap: 2rem;
  margin-right: 4rem;
  color: #fff;
}

.n-list>ul :hover {
  color: #3fa45a;
  font-weight: 500;
  cursor: pointer;
}

/* .n-button {
  flex: 2;
} */

@media (min-width:320px) and (max-width: 960px) {
  .n-wrapper{
    width: 88%;
  }
  .nav-sticky-cont{
/* padding: 0 10px; */
  }
  .n-list {
    display: none;
  }

.logo-img{
  width: 80px;
  margin-left: 0px;
}
.scroll-nav{
  padding: 30px 30px 15px; 
  width: 85%;
  /* height: 30vh; */
  position:absolute;
  top:75px;
  left: 0 ;
  background: #31313A;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: all .5s ease;
}
.mob-nav{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: baseline;
  padding-left: 0px!important;

  transition: all 0.5s ease;
}
.mob-nav li{
  color: #fff;
  padding-bottom: 15px;
}
}
@media screen and (min-width:960px) {
  .nav-icon{
    display: none;
  }

}
@media screen and (max-width:960px) {

  .button-green {
    font-size: 12px!important;
    padding: 10px!important;
      }
}
