.n-wrapper {
  height: 8vh;
  display: flex;
  justify-content: space-between;
  max-width: 1350px;
  width: 100%;
  margin: 1.4rem auto 2rem;
  top: 0;
  background: rgb(255 255 255 / 10%);
  /* box-shadow: 0 5px 24px 2px rgb(31 135 119 / 37%); */
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 0 20px;
}
.nav-sticky-cont {
    position: sticky;
    position: -webkit-sticky;
    top: 0;

    z-index: 10000;
}
ul li {
  font-size: 16px;
}
.n-left {
  flex: 1;
  align-items: center;
  justify-content: left;
  display: flex;
  gap: 2rem;
}

.n-name {
  font-size: 1.3rem;
  font-weight: bold;
}

.n-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 400;
}

.n-list {
  /* flex: 10; */
}
.logo-img{
  width: 120px;
}
.n-list>ul {
  display: flex;
  gap: 2rem;
  margin-right: 4rem;
  color: #fff;
}

.n-list>ul :hover {
  color: var(--orange);
  cursor: pointer;
}

.n-button {
  flex: 2;
}

@media (min-width:320px) and (max-width: 960px) {
  .n-wrapper{
    width: 88%;
  }
  .nav-sticky-cont{
padding: 0 10px;
  }
  .n-list {
    display: none;
  }

.logo-img{
  width: 80px;
}
.scroll-nav{
  padding: 30px 30px 15px; 
  width: 85%;
  /* height: 30vh; */
  position:absolute;
  top:71px;
  left: 0 ;
  background: #31313A;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: all .5s ease;
}
.mob-nav{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: baseline;
  padding-left: 0px!important;

  transition: all 0.5s ease;
}
.mob-nav li{
  color: #fff;
  padding-bottom: 15px;
}
}