.bg{
  background: url("../../img/bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}

.intro-sec {
  max-width: 1350px;
  width: 100%;
  margin: 100px auto 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: vh;
}

.logo-sq {
  width: 65px;
  height: 65px;
  margin-bottom: 15px;
  border-radius: 8px;
}

.intro-head {
  font-size: 42px;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 15px;
  margin-top: 25px;
  color: #fff;
}

.into-para {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  color: #dee2e6c7;
  width:68%;
  margin: 15px auto 35px;
  text-align: center;
}
@media (min-width:320px) and (max-width: 960px) {
.intro-sec{
  margin: 75px auto 50px;
}
.intro-head{
  font-size: 32px!important;
line-height: 38px!important;
text-align: center!important;
}
.intro-head{
  /* margin-top: 15px; */
  width: 95%;
  margin:15px auto 8px;
}
.into-para{
width: 95%!important;
font-size: 18px!important;
  line-height: 28px!important;
}}