h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 20px 0;
  text-transform: none;
  color: #3fa45a;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1.5;
}

a:link,
a:active,
a:visited {
  color: rgba(255, 255, 255, 1);
}

a:hover {
  color: rgba(255, 255, 255, 0.6);
}

.gray {
  color: #a5a5a5;
}

.team {
  margin: 30px auto 40px;
  max-width: 1300px;
  width: 100%;
  padding-top: 70px;
}

.team-member {
  margin: 15px 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.team-member figure {
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.team-member figure img {
  /* min-width: 100%; */
}

.team-member figcaption p {
  font-size: 16px;
}

.team-member figcaption ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.team-member figcaption ul {
  visibility: visible;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.team-member figcaption ul li {
  display: inline-block;
  padding: 10px;
}

.team-member h4 {
  margin: 25px 0 0 8px;
  padding: 0;
  font-size: 22px;
  font-weight: 600;
}

.team-member figcaption {
  padding: 50px;
  color: transparent;
  background-color: transparent;
  position: absolute;
  z-index: 996;
  bottom: 0;
  left: 70px;
  width: 100%;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}


.team-member figure img {
  -webkit-transform: scale(1) rotate(0) translateY(0);
  -moz-transform: scale(1) rotate(0) translateY(0);
  -o-transform: scale(1) rotate(0) translateY(0);
  -ms-transform: scale(1) rotate(0) translateY(0);
  transform: scale(1) rotate(0) translateY(0);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}


.team-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.team-member img {
 
}
.img-responsive2{
  width: 50%;
  border-radius: 8px;
}
.img-responsive1{
  width: 58%;
  border-radius: 8px;
}

.cont {
  width: 100%;
}

.img-cont {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.team-head {
  font-size: 42px;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 25px;
  color: #fff;
}

.team-para {

  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: #dee2e6c7;
}

.designation {
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  color: #fff;
  margin-top: 2px;
  margin-bottom: 0;
}

.team-name {
  margin: 30px 0 0px 0;
  text-transform: none;
  color: #3fa45a;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 20px;
  font-size: 22px;
}
.li-bg{
  background-color: #3fa45a;
  padding: 5px 7px;
  border-radius: 50%;
  cursor: pointer;
}
.team-desc{
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #dee2e6c7;
  text-align: center;
  width: 75%;
}
@media (min-width:320px) and (max-width: 960px) {

  .team {
    margin: 0px auto 40px;
    width: 90%;
    padding-top: 40px;
  }

  .team-head {
    font-size: 29px;
    line-height: 40px;
    margin-bottom: 12px;
  }
  .team-para{
    text-align: center;
    font-size: 18px;
    line-height: 24px;
  }
  .team-row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
}